:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #11237D;
  cursor: pointer;
  transition: border-color 0.25s;
  justify-content: center;
  margin-top: 30px;
 
}
button:hover {
  border-color: #646cff;
  filter:blur(1px);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.mainContainer{
  display: flex;
  flex-direction: column;
  padding: 4rem;
  align-content: center;
}
.containerCatalogo{
  display: flex;
  flex-direction: column;
  background-color: #6E6E6E;
  border: 2px solid transparent;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;

}

.containerCatalogo:hover{
   backdrop-filter: blur(10px); /* Desenfoque del fondo al pasar el cursor */
}
.catalogo{
  display: flex;
  flex-direction: row;
  background-color: #242424;
  align-items: center;
  border-radius: 10px;
}
.cardInfo{
  margin: 11px;
  border-radius: 10px;
  
  
}

.containerImg{
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

img{
  border-radius: 20px;
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.rating-bajo {
  color: red;
}

.rating-alto {
  color: gold;
}
